.Box-LandingPage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*ESTO SI LO IMPORTO EN MISMO HOME*/
   
  }

.LandingPage{
    width: 130vh;
    padding: 3vh 3vh 3vh 7vh;
    height: 70vh;
    margin: 2vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    backdrop-filter: blur(1px);
    border-radius: 15px;
    
     
}

.Margin-LandingPage{
    margin: 15vh 0 0 5vh;
}

.Title-LandingPage{
    
    font-size: 57px;
    color: rgb(255, 255, 1);
    text-shadow: -2px 2px black;
}

.Info-LandingPage{
    font-size: 25px;
    color: rgb(255, 255, 1);
    text-shadow: 2px 2px black;
    font-weight: bold;
    margin-bottom: 2em;
    
}

.animation{
    animation: rock 2s infinite linear;
    cursor: pointer;
    justify-content: center;
    background-color: rgb(255, 255, 1);
    border-radius: 50px;
    transition: background-color .5s;
}

.animation:hover {
    background-color: black;
}


@keyframes rock{
    50%{
        transform: translateY(1rem);
    }
}